@page "/students"
@inject IStudentService StudentService
@inject IJSRuntime js
@inject NavigationManager navigator


<h3><u>Studenci</u></h3>
<table border=1>
    <tr style="height:40px">
        <th style="text-align:center" @onclick="@(() => Sort("Avatar"))">Avatar</th>
        <th style="text-align:center" @onclick="@(() => Sort("FirstName"))">First Name</th>
        <th style="text-align:center" @onclick="@(() => Sort("LastName"))">Last Name</th>
        <th style="text-align:center" @onclick="@(() => Sort("Birthdate"))">Birthdate</th>
        <th style="text-align:center" @onclick="@(() => Sort("Studies"))">Studies</th>
        <th style="text-align:center">Actions</th>
    </tr>
    @foreach(var stud in StudentsList)
    {
        <tr style="height:40px">
            <td style="text-align:center">@stud.Avatar</td>
            <td style="text-align:center">@stud.FirstName</td>
            <td style="text-align:center">@stud.LastName</td>
            <td style="text-align:center">@stud.Birthdate.ToLongDateString()</td>
            <td style="text-align:center">@stud.Studies</td>
            <td style="text-align:center">
                <button @onclick="(() => Delete(stud.ID))">Delete</button>
                <button @onclick="(() => ShowDetails(stud.ID))">Details</button>
            </td>
        </tr>
    }
</table>


@code {
    public List<Student> StudentsList { get; set; }
    public KeyValuePair<string, bool> ColumnSort { get; set; } = new KeyValuePair<string, bool>("", false);

    private void Sort(string columnName)
    {
        if(ColumnSort.Key != columnName)
        {
            ColumnSort = new KeyValuePair<string, bool>(columnName, false);
        } else
        {
            ColumnSort = new KeyValuePair<string, bool>(columnName, !ColumnSort.Value);
        }

        if (ColumnSort.Value)
        {
            SortListAsc(columnName);
        }else
        {
            SortListDesc(columnName);
        }
    }

    private void SortListDesc(string columnName)
    {
        StudentsList = StudentsList.OrderByDescending(e => e.GetType().GetProperty(columnName).GetValue(e, null)).ToList();
    }

    private void SortListAsc(string columnName)
    {
        StudentsList = StudentsList.OrderBy(e => e.GetType().GetProperty(columnName).GetValue(e, null)).ToList();
    }

    protected override void OnInitialized()
    {
        StudentsList = StudentService.GetStudents();
    }

    private async Task Delete(int id)
    {
        var result =await js.InvokeAsync<bool>("confirm", "Are you sure?");
        if (result)
        {
            StudentService.Remove(id);
        }
    }

    private void ShowDetails(int id)
    {
        navigator.NavigateTo("/students/" + id);
    }
}
